<script setup lang="ts">
interface Props {
  type?: 'button' | 'submit' | 'reset'
  color?: 'primary' | 'secondary' | 'success' | 'warning' | 'danger'
}

const props = withDefaults(defineProps<Props>(), {
  type: 'button',
  color: 'primary'
})

const BASE_CLASS =
  'flex justify-center items-center transition-colors rounded-md border-2 px-3 pt-2.5 pb-1 font-display font-semibold disabled:text-stone-200/25 disabled:pointer-events-none md:pt-3 md:pb-1.5'

const COLOR_CLASS = computed(() => ({
  'border-stone-700 bg-stone-950 hover:bg-stone-800 disabled:bg-stone-900':
    props.color === 'primary',
  'border-stone-200 bg-stone-200 text-stone-900 hover:border-stone-400 hover:bg-stone-400 disabled:bg-stone-400':
    props.color === 'secondary',
  'border-lime-700 bg-lime-950 hover:border-lime-600 hover:bg-lime-800 disabled:bg-lime-900':
    props.color === 'success',
  'border-yellow-700 bg-yellow-950 hover:bg-yellow-800 disabled:bg-yellow-900':
    props.color === 'warning',
  'border-red-700 bg-red-950 hover:bg-red-800 disabled:bg-red-900': props.color === 'danger'
}))
</script>

<template>
  <button :type="props.type" :class="[BASE_CLASS, COLOR_CLASS]">
    <slot />
  </button>
</template>
