<template>
  <header class="fixed z-10 top-0 border-b-2 border-stone-700 bg-stone-950 w-full h-14 md:h-16">
    <div class="flex justify-center items-center h-full">
      <h1 class="pt-1 text-2xl text-stone-200 font-bold md:pt-2 md:text-3xl">Xtreme Tic-Tac-Toe</h1>
    </div>
  </header>
</template>
