<script setup lang="ts">
import { onClickOutside } from '@vueuse/core'
import { UseFocusTrap as FocusTrap } from '@vueuse/integrations/useFocusTrap/component'

const props = defineProps<{
  hideCloseButton?: boolean
}>()

const emit = defineEmits<{
  'click-outside': []
  close: []
}>()

const modalContainerRef = ref<HTMLElement>()

onClickOutside(modalContainerRef, () => {
  emit('click-outside')
})

function handleKeyDown(e: KeyboardEvent) {
  if (e.key === 'Escape') {
    emit('close')
  }
}

onMounted(() => {
  document.body.style.overflow = 'hidden'
  window.addEventListener('keydown', handleKeyDown)
})

onUnmounted(() => {
  document.body.style.overflow = 'visible'
  window.removeEventListener('keydown', handleKeyDown)
})
</script>

<template>
  <div class="fixed inset-0 z-50 bg-black/30 backdrop-blur-sm">
    <div class="flex justify-center items-center mx-auto px-4 pt-10 pb-4 w-full max-w-lg h-full">
      <div class="flex flex-col w-full max-h-full">
        <div
          ref="modalContainerRef"
          class="rounded-lg border-2 border-stone-200 bg-stone-800 p-4 !pb-6 w-full h-full overflow-y-auto"
          :class="{ 'pt-6': props.hideCloseButton }"
        >
          <FocusTrap :options="{ immediate: true }">
            <div v-if="!props.hideCloseButton" class="flex justify-end mb-2">
              <button
                class="rounded size-8 p-0.5 hover:bg-stone-700"
                type="button"
                @click="$emit('close')"
              >
                <XIcon class="text-stone-200" />
                <span class="sr-only">close</span>
              </button>
            </div>

            <slot />
          </FocusTrap>
        </div>
      </div>
    </div>
  </div>
</template>
