<script setup lang="ts">
import { Grid, Player } from '~/types'

const props = defineProps<{
  grids: Grid[]
}>()

const emit = defineEmits<{
  reset: []
  close: []
}>()

const wins = reactive({
  x: props.grids.filter((g) => g.winner === Player.X).length,
  o: props.grids.filter((g) => g.winner === Player.O).length
})

const winner = computed(() => {
  if (wins.x > wins.o) {
    return Player.X
  } else if (wins.x < wins.o) {
    return Player.O
  } else {
    return null
  }
})
</script>

<template>
  <AppModal hide-close-button @click-outside="$emit('close')">
    <div class="flex flex-col items-center">
      <h2 class="text-4xl font-bold md:text-5xl">{{ winner ? 'WINNER!' : "It's a tie!" }}</h2>

      <p class="text-xl text-stone-300 mt-3 md:text-2xl">
        {{ winner ? `Player ${winner} has won!` : 'No one won this time! :-(' }}
      </p>

      <AppButton class="mt-4 text-lg md:mt-6 md:text-xl" color="secondary" @click="$emit('reset')">
        Play again?
      </AppButton>
    </div>

    <hr class="my-6 md:my-8" />

    <!-- stats -->
    <h3 class="text-center text-xl font-semibold md:text-xl">Games won</h3>

    <div class="flex justify-evenly gap-2 mt-4">
      <div class="flex flex-col justify-center items-center gap-1">
        <span class="text-2xl font-medium font-sans md:text-3xl">
          {{ wins.x }}
        </span>

        <span class="text-center text-stone-400 font-medium md:text-lg">Player X</span>
      </div>

      <div class="flex flex-col justify-center items-center gap-1">
        <span class="text-2xl font-medium font-sans md:text-3xl">
          {{ wins.o }}
        </span>

        <span class="text-center text-stone-400 font-medium md:text-lg">Player O</span>
      </div>
    </div>

    <hr class="my-6 md:my-8" />

    <p class="text-center">
      A coffee-break game by
      <a
        class="text-sky-300 hover:underline"
        href="https://ebentuff.com"
        target="_blank"
        rel="noopener noreferrer"
        >Eben Tuff</a
      >
    </p>
  </AppModal>
</template>
