<script setup lang="ts">
import { Grid, GridState, Player } from '~/types'

const props = defineProps<{
  grids: Grid[]
  currentGridIdx: number
  currentPlayer: Player
}>()

const emit = defineEmits<{
  'cell-click': [grid: number, cell: number]
}>()
</script>

<template>
  <div class="grid grid-cols-3 relative border-t-4 border-l-4 border-stone-500 w-full">
    <div
      v-for="(grid, idx) in props.grids"
      :key="idx"
      class="border-r-4 border-b-4 border-stone-500 w-full aspect-square"
    >
      <SubGrid
        :cells="grid.cells"
        :disabled="
          (props.currentGridIdx !== -1 && idx !== props.currentGridIdx) ||
          grid.state !== GridState.IN_PROGRESS
        "
        :winner="grid.winner"
        @cell-click="$emit('cell-click', idx, $event)"
      />
    </div>
  </div>
</template>
