<script setup lang="ts">
import { GridCell, Player } from '~/types'

const props = defineProps<{
  cells: GridCell[]
  disabled: boolean
  winner: Player | null
}>()

const emit = defineEmits<{
  'cell-click': [idx: number]
}>()
</script>

<template>
  <div class="grid grid-cols-3 relative w-full">
    <div
      v-if="props.disabled"
      class="flex justify-center items-center absolute inset-0 pt-4 size-full"
      :class="props.winner ? 'bg-black/90' : 'bg-stone-900/90'"
    >
      <span v-if="props.winner" class="text-8xl font-bold select-none">{{ props.winner }}</span>
    </div>

    <button
      v-for="(cell, idx) in props.cells"
      :key="idx"
      class="flex justify-center items-center border border-stone-600 w-full aspect-square text-3xl select-none overflow-hidden touch-manipulation hover:bg-stone-700 disabled:pointer-events-none md:text-4xl"
      :class="{
        'border-t-0': idx < 3,
        'border-r-0': idx % 3 === 2,
        'border-b-0': idx > 5,
        'border-l-0': idx % 3 === 0
      }"
      :disabled="props.disabled || cell !== GridCell.EMPTY"
      @click="cell !== GridCell.EMPTY ? null : $emit('cell-click', idx)"
    >
      <span class="pt-2">{{ cell }}</span>
    </button>
  </div>
</template>
