<script setup lang="ts">
import { createGrids, gameOverCheck, setGridCell, updateGridState } from '~/lib'
import { Grid, GridState, Player } from '~/types'
import { randomChance } from 'tsu'

const grids = ref<Grid[]>(createGrids())
const currentGridIdx = ref(-1)
const currentPlayer = ref(randomChance(2) ? Player.X : Player.O)
const isGameOver = ref(false)

const { isOpen: isGameOverModalOpen, ...gameOverModal } = useModal()

function resetGame() {
  grids.value = createGrids()
  currentGridIdx.value = -1
  currentPlayer.value = randomChance(2) ? Player.X : Player.O
  isGameOver.value = false

  gameOverModal.close()
}

function changePlayer() {
  if (currentPlayer.value === Player.X) {
    currentPlayer.value = Player.O
  } else {
    currentPlayer.value = Player.X
  }
}

function handleCellClick(gridIdx: number, cellIdx: number) {
  const grid = grids.value[gridIdx]

  setGridCell(grid, cellIdx, currentPlayer.value)

  updateGridState(grid, currentPlayer.value)

  isGameOver.value = gameOverCheck(grids.value)

  if (isGameOver.value) {
    gameOverModal.open()
    return
  }

  // get nextGrid
  const nextGrid = grids.value[cellIdx]

  if (nextGrid.state !== GridState.IN_PROGRESS) {
    currentGridIdx.value = -1
  } else {
    currentGridIdx.value = cellIdx
  }

  changePlayer()
}
</script>

<template>
  <AppHeader />

  <main class="pt-14 h-dvh md:pt-16">
    <div class="mx-auto px-2 py-8 w-full max-w-xl h-full">
      <div class="flex flex-col justify-center items-center gap-4 h-full md:gap-8">
        <div class="-mt-12 text-2xl text-stone-400 font-semibold md:text-4xl">
          <p>
            Current:
            <span class="text-4xl text-stone-100 font-bold">{{
              isGameOver ? '-' : currentPlayer
            }}</span>
          </p>
        </div>

        <GameGrid :grids :current-grid-idx :current-player @cell-click="handleCellClick" />
      </div>
    </div>
  </main>

  <Teleport to="body">
    <FadeTransition>
      <GameOverModal v-if="isGameOverModalOpen" :grids @reset="resetGame" />
    </FadeTransition>
  </Teleport>
</template>
